.landing-section{
  display: grid;
  padding:200px;
  padding-top:100px;
  background-position: center;
  background-size: cover;
  grid-gap:50px;
  background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9),rgba(255,255,255,.2)),url("./../../imgs/background_home.png"); !important;
  grid-template-columns: repeat(2,1fr);
  transform:translateY(500px);
  opacity:0;
  transition: all .4s;
}

body{
  background:white;
}

html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.landing-section .img-container{
}
.landing-section .img-container img{
  width:100%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  border-radius: 10px;

}
.landing-section .text-container{
  font-size:30px;
  color:#012B3A;
  font-family: "Montserrat";
}

.landing-section .btn-container
{
  display: flex;
  flex-direction: row;
  gap:20px;
}

.signup{
  background:#012B3A !important;
  color:white;
  font-family: "Montserrat";
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  padding:20px;
  border-radius:10px;
}

.learn
{
  background:white !important;
  color:#012B3A !important;
  border:none;
  font-size:20px;
  text-decoration: underline;
  font-family: "Montserrat";
  font-weight: normal;
  padding:20px;
  border-radius:10px;
}
}

.btn
{

}
